.main{
  width:100%;
}
.barTd{

  .flex{
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
  }

}
.bar{
  margin-left:10px;
  height:15px;
  width:100px;
  background-color: var(--mainBackground);
  border-radius:2px;
}
.barRed{
  background-color: var(--red);
  height:100%;
}
